<footer class="footer">
    <div class="container">
      <div class="footer__wrap">
        <p class="text">© 2023 | All Rights Reserved |</p>
        <p class="text">
          Developed with
          <svg width="14" height="12.88" class="icon-heart">
            <use href="./images/symbol-defs.svg#icon-heart"></use>
          </svg>
  
          <a href="#" class="team open-modal-team">by GoIT Students</a>
        </p>
      </div>
    </div>
    <button id="scroll-up-btn">
      <svg class="up-button__icon" width="35" height="37">
        <use href="./images/symbol-defs.svg#icon-scroll-up-button"></use>
      </svg>
    </button>
  </footer>
  