<header class="header">
  <div class="container">
    <div class="header-menu">

      <a href="./index.html" class="logo">

        <div class="logo__img"></div>
        <span class="logo__text">Cinemania</span>
      </a>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">

            <a href="./index.html" class="navigation__link">Home</a>

          </li>
          <li class="navigation__item">
            <a href="./catalog.html" class="navigation__link">Catalog</a>
          </li>
          <li class="navigation__item">
            <a href="./library.html" class="navigation__link">My library</a>
          </li>
        </ul>
      </nav>
      <button
        type="button"
        class="menu-open"
        aria-label="Перемикач мобільного меню"
        aria-expanded="false"
      >
        <span class="menu-open__text">MENU</span>
      </button>
      <label class="switch">
        <input type="checkbox" />
        <span class="switch__marker"> </span>
        <svg class="switch__icon-moon">
          <use href="./images/symbol-defs.svg#icon-moon"></use>
        </svg>
        <svg class="switch__icon-sun">
          <use href="./images/symbol-defs.svg#icon-sun"></use>
        </svg>
      </label>
    </div>
    <div class="mobile-menu is-hidden" aria-hidden="true">
      <div class="mobile-menu__container">
        <a href="./index.html">
          <div class="logo-mobile-menu"></div>
        </a>
        <nav class="navigation-menu">
          <ul class="navigation-menu__list">
            <li class="navigation-menu__item">

              <a href="./index.html" class="navigation-menu__link">Home</a>

            </li>
            <li class="navigation-menu__item">
              <a href="./catalog.html" class="navigation-menu__link">Catalog</a>
            </li>
            <li class="navigation-menu__item">

              <a href="./library.html" class="navigation-menu__link"
                >My library</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
