<!--Section-Hero-My-Library-->
<section class="section hero-library">
  <div class="container hero-library__container">
    <div class="hero-library__box">
      <h1 class="hero-library__title">Create Your <br />Dream Cinema</h1>
      <p class="hero-library__text">
        Is a guide to designing a personalized movie theater experience with the
        right equipment, customized decor, and favorite films. This guide helps
        you bring the cinema experience into your own home with cozy seating,
        dim lighting, and movie theater snacks.
      </p>
    </div>
  </div>
</section>
