<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
    <button class="team__modal--close close-modal-team button__close">
      <svg class="team__icon team__icon--close" width="25" height="25">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="footer-modal__title">Our Banda-PRO Team</h2>
    <ul class="footer-modal__container">
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-vira.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Vira Zhuhan</h3>
            <p class="footer-modal__role">Team Lead</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/ViraZhuhan"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/vira-zhuhan-990814254/"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-ilona.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Ilona Cheptsova</h3>
            <p class="footer-modal__role">Scrum Master</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/cheptsova"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/cheptsova/"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-artem.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Artem Podoliak</h3>
            <p class="footer-modal__role">Frontend Developer</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/Artem-Podoliak"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/artem-podoliak/"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/team-olena.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Olena Husliakova</h3>
            <p class="footer-modal__role">Frontend Developer</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/softly242"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <!-- <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href=""
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a> -->
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-ihor.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Ihor Doroshenko</h3>
            <p class="footer-modal__role">Frontend Developer</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/igorekdoroshenko"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/%D0%B8%D0%B3%D0%BE%D1%80%D1%8C-%D0%B4%D0%BE%D1%80%D0%BE%D1%88%D0%B5%D0%BD%D0%BA%D0%BE-0b55aa151/"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-serhii.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Serhii Klokun</h3>
            <p class="footer-modal__role">Frontend Developer</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/KlokunSerhii"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/serhii-klokun/"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-oleksandr.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Oleksandr Yusov</h3>
            <p class="footer-modal__role">Frontend Developer</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/Alexander0Yusov"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/aleksandr-yusov-2a7701bb/"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-vita.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Vita Nychvoloda</h3>
            <p class="footer-modal__role">Frontend Developer</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/VitaNYCH"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/vita-nychvoloda-8a01b7261/"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-tetiana.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Tetiana Bushmakina</h3>
            <p class="footer-modal__role">Frontend Developer</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/TanyaBushik"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/tanya-bushmakina-ab35b564/"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/team-misha.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Misha Nazarets</h3>
            <p class="footer-modal__role">Frontend Developer</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/mikhail-na"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.linkedin.com/in/michael-nazarets-b89813254/"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/team-volodymyr.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Volodymyr Popovych</h3>
            <p class="footer-modal__role">Frontend Developer</p>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/VladimirPopovich27"
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
            <!-- <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href=""
            >
              <svg class="team__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-inkedin"></use>
              </svg>
            </a> -->
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
