<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
    <button
      class="team__modal--close close-modal-team button__close"
      type="button"
    >
      <svg>
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="footer-modal__title">Our Banda-PRO Team</h2>
    <ul class="footer-modal__container">
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-vira.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Vira Zhuhan</h3>
            <p class="footer-modal__role">Team Lead</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-ilona.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Ilona Cheptsova</h3>
            <p class="footer-modal__role">Scrum Master</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-artem.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Artem Podoliak</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/team-olena.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Olena Husliakova</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-ihor.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Ihor Doroshenko</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-serhii.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Serhii Klokun</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-oleksandr.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Oleksandr Yusovsky</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-vita.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Vita Nychvoloda</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/team-tetiana.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Tetiana Bushmakina</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/team-misha.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Misha</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="images/team-volodymyr.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Volodymyr Popovych</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
