<section class="search">
  <div class="search-wrapper">
    <form class="search-form" id="search-form">
      <input class="search-input-field" type="text" name="searchQuery" id="search-input" placeholder="Search"
        autocomplete="off" />
      <button class="search-button" type="submit" aria-label="search button">
        <svg class="icon-search" width="20" height="20">
          <use xlink:href="./images/symbol-defs.svg#icon-search" alt="Search icon"></use>
        </svg>
      </button>
    </form>
  </div>
</section>
<section class="card-catalog">
  <div class="container">
    <ul class="gallery gallery-catalog" id="movie-list">
    </ul>
  </div>
</section>



<!-- Володя -->
<!-- <div class="search-wrapper">
    <form class="search-form">
        <input type="text" class="search-input-field" placeholder="Search">
        <button type="submit" class="search-button" aria-label="Search">
            <svg class="icon-search" width="20" height="20">
                <use xlink:href="./images/symbol-defs.svg#icon-search" alt="Search icon"></use>
            </svg>
        </button>
    </form>
    <section>
        <div class="movie-list"></div>
    </section>
</div>

<section class="block_section">
    <div class="container__block container">
        <form class="form__block" id="search-form">
            <div class="form__wrapper">
                <input class="input__block" type="text" name="search" id="search-input" placeholder="Search"
                    autocomplete="off" />
                <button class="button__block" type="submit" aria-label="search button">
                    <svg class="icon-search" width="20" height="20">
                        <use xlink:href="./images/symbol-defs.svg#icon-search" alt="Search icon"></use>
                    </svg>
                </button>
            </div>
        </form>
        <section class="grid">
            <ul class="items__error" id="cards__error"></ul>
            <div class="items__wrapper">
                <div class="items__message items__disabled">
                    <p class="items__text"></p>
                </div>

                <ul class="items__list" id="movie-list"></ul>
            </div>
        </section>
    </div>
</section> -->