// .loader {
//     position: fixed;
//     z-index: 1000;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100vw;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: rgba(0, 0, 0, 0.5);
//     overflow-y: scroll;
//     opacity: 1;
//     transition: opacity 400ms linear;
//   }
  
//   .isHidden {
//     height: 0;
//     width: 0;
//     opacity: 0;
//   }
  
//   .spinner {
//     height: 45px;
//     width: 45px;
//     border-width: 6px;
//     border: solid $color-neutral-light;
//     background-color: transparent;
//     border-radius: 50%;
//     border-left-color: rgba(248, 65, 25, 0.8);
//     animation: spinner 1.1s linear infinite;
  
//     @include tablet {
//       border-width: 7px;
//       height: 60px;
//       width: 60px;
//     }
  
//     @include desktop {
//       border-width: 8px;
//       height: 75px;
//       width: 75px;
//     }
//   }
  
//   @keyframes spinner {
//     100% {
//       transform: rotate(360deg);
//     }
//   }
  