.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .modal-container{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (min-width: $tablet) {
      top: 50%;
    }
  }
  .modal{
    min-width: 280px;
    box-shadow: 1px 1px 14px 4px var( --color-shadow-popup);
    border-radius: 20px;
    margin: auto;
    background-color: var(--bg-primary);
    padding: 52px 16px 52px;
    @media screen and (min-width: $tablet) {
      display: grid;
      grid-template: 1fr /1fr 1fr;
      justify-items: center;
      min-width: 704px;
      padding: 44px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 846px;
      padding: 60px;
  }

    &__img{
      margin: auto;
      border-radius: 5px;
      @media screen and (min-width: $tablet) {
          margin:0;
        }
    }

    &__items{
      color: var(--color-text-primary);
        @media screen and (min-width: $tablet) {
          margin-left: 20px;
          }
    }
    &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.15;
      padding-bottom: 28px;
      margin-top: 22px;
      @media screen and (min-width: $tablet) {
        margin-top: 0;
        font-size: 24px;
        line-height: 1.33;
        }
    }
    &__popularity{
      display: grid;
      grid-template: 1fr/1fr 1fr;
      color: var(--color-text-info);
      font-weight: 500;
      font-size: 14px;
      padding-bottom: 12px;
      line-height: 1.14;
      @media screen and (min-width: $tablet) {
          font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
                padding-bottom: 10px;
        }
    }
    &__popularity span {
      color:var(--color-text-primary);
    }
    &__rating{
      display: grid;
      grid-template: 1fr/1fr 1fr;

      @include font-text;
      color: var(--color-text-info);
      padding-bottom: 12px;
      @media screen and (min-width: $tablet) {
        @include font-text;
            padding-bottom: 14px;
        }
    }
    &__rating .rating-vote {
      padding: 1px 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: $color-primary-dark;
      background-color: var(--bg-votes);
      border-radius: 5px;
      @media screen and (min-width: $tablet) {
        font-weight: 500;
          font-size: 14px;
          line-height: 1.14;
        }
    }

    &__genre{
      display: grid;
        grid-template: 1fr/1fr 1fr;
      color: var(--color-text-info);
      font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
      padding-bottom: 20px;
      @media screen and (min-width: $tablet) {
          font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
        }
    }

      &__genre span {
        color: var(--color-text-primary);
  }
    &__about{
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      color: var( --color-text-info);
      @media screen and (min-width: $tablet) {
              margin-bottom: 16px;
        }
    }
    &__description{
      font-weight: 400;
      font-size: 12px;
      line-height: 1.67;
      padding-bottom: 16px;
      @media screen and (min-width: $tablet) {
      padding-bottom: 24px;
      color: var(--color-text-secondary);
    }
    }

  }
  .button__close{
    position: absolute;
    top: 20;
    right: 16;
    width: 24px;
    height: 24px;
    background-color: var(--bg-primary);
    border: none;
    @media screen and (min-width: $tablet) {
        top: 40;
        right: 40;
      }

  }
  .button__close svg{
    fill: var(--color-text-secondary);
    width: 24px;
    height: 24px;
  }
  .button-add, 
  .button-remove {
    padding: 12px 24px;
    border-radius: 74px;
    font-size: 12px;
    line-height: 1.33;
    color: var( --color-text-primary);
    background: 
    linear-gradient(var(--bg-primary) 0 0) padding-box,
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
    border: 1px solid transparent;
  }

  .button-add:hover, 
  .button-remove:hover {
    color: $color-accent;
    background: var(--color-text-primary);
    border: 1px solid transparent;
     }

 /*  .button-remove {
    padding: 12px 24px;
    border-radius: 74px;
    font-size: 12px;
    line-height: 1.33;
    background-color: var(--color-text-primary);
    color: $color-accent;
    border: 1px solid transparent;
  }

  .button-remove:hover {
    color: var( --color-text-primary);
    background: 
    linear-gradient(var(--bg-primary) 0 0) padding-box,
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
  } */


