// .footer-modal__box:not(:last-child) {
//   margin-bottom: 20px;

//   @media screen and (min-width: 768px) {
//     margin-bottom: 0;
//   }
// }

// .footer-modal__box::before {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 101px;
//     background: linear-gradient(45deg, #b8b4ab, #3b3637);
//     @include tablet {
//       width: 264px;
//     }
  
//     @include desktop {
//       width: 375px;
//     }
//   }
  
//   .footer-modal__box::after {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 101px;
//     background: linear-gradient(45deg, #b8b4ab, #3b3637);
//     filter: blur(30px);
//     @include tablet {
//       width: 264px;
//     }
  
//     @include desktop {
//       width: 375px;
//     }
//   }
  
//   .footer-modal__box:nth-child(even)::before,
//   .footer-modal__box:nth-child(even)::after {
//     background: linear-gradient(315deg, #3b3637, #b8b4ab);
//   }
  
//   .footer-modal__img-thumb {
//     height: 300px;
  
//     @include tablet {
//       width: 264px;
//       height: 373.55px;
//     }
  
//     @include desktop {
//       width: 375px;
//       height: 478px;
//     }
//   }
  
//   .footer-modal__img-thumb > img {
//     display: block;
//     height: 100%;
//     width: 100%;
  
//     object-fit: cover;
//   }
  
//   .footer-modal__pic {
//     height: 300px;
  
//     @include tablet {
//       width: 264px;
//       height: 373.55px;
//     }
  
//     @include desktop {
//       width: 375px;
//       height: 478px;
//     }
//   }
  
//   .footer-modal__thumb {
//     padding: 20px 10px;
//     height: 100px;
//     position: relative;
  
//     @include tablet {
//       width: 264px;
//     }
  
//     @include desktop {
//       width: 375px;
//     }
//   }
  
//   .footer-modal__thumb span {
//     position: absolute;
//     top: 6px;
//     left: 6px;
//     right: 6px;
//     bottom: 6px;
//     background: rgba(0, 0, 0, 0.6);
//   }
  
//   .footer-modal__thumb span::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 50%;
//     height: 100%;
//     background: rgba(255, 255, 255, 0.1);
//     pointer-events: none;
//   }
  
//   .footer-modal__content {
//     position: relative;
//     z-index: 10;
//   }
  
//   .footer-modal__name {
//     font-family: 'Roboto';
//     font-weight: 500;
//     font-size: 25px;
//     line-height: 1.33;
//     color: #fff;
//   }
  
//   .footer-modal__role {
//     font-family: 'Roboto';
//     line-height: 1.17;
//     color: #fff;
//   }
  