.backdrop-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #00000079;
}
.team__backdrop--hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.team__modal {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  min-width: 300px;
  height: 100%;
  padding: 50px 20px 40px 20px;
  margin: 0 auto;

  background-color: var(--bg-primary);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 20px;

  transition: transform 250ms ease-in-out;

  @include tablet {
    top: 50%;
    min-width: 650px;
    height: 552px;
    padding: 40px 72px 40px 36px;
  }
  @include desktop {
    top: 50%;
    min-width: 1000px;
    height: 700px;
    padding: 20px 16px;
  }
}
.footer-modal__title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 1.33;
  color: $color-text;
  text-transform: uppercase;

  margin: 0 0 20px 0;
}

.footer-modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;

  @include tablet {
    flex-direction: row;
    gap: 15px;
  }
}
.footer-modal__box {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: var( --color-text-primary);
  background-color: $color-bg-header;
  transition: 0.5s;
  width: 100%;

  &:hover,
  &:focus {
    transform: translateY(-20px);
    cursor: pointer;
  }

  @include tablet {
    width: calc((100% - 20px) / 3);
  }
}

// .footer-modal__box:not(:last-child) {
//   margin-bottom: 20px;

//   @media screen and (min-width: 768px) {
//     margin-bottom: 0;
//   }
// }

.footer-modal__box::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 101px;
  background: linear-gradient(45deg, #b8b4ab, #3b3637);
  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 375px;
  }
}

.footer-modal__box::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 101px;
  background: linear-gradient(45deg, #b8b4ab, #3b3637);
  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 375px;
  }
}

.footer-modal__box:nth-child(even)::before,
.footer-modal__box:nth-child(even)::after {
  background: linear-gradient(315deg, #3b3637, #b8b4ab);
}

.footer-modal__img-thumb {
  height: 300px;

  @include tablet {
    width: 264px;
    height: 373.55px;
  }

  @include desktop {
    width: 375px;
    height: 478px;
  }
}

.footer-modal__img-thumb > img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.footer-modal__pic {
  height: 300px;

  @include tablet {
    width: 264px;
    height: 373.55px;
  }

  @include desktop {
    width: 375px;
    height: 478px;
  }
}

.footer-modal__thumb {
  padding: 10px 10px;
  height: 100px;
  position: relative;

  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 375px;
  }
}

.footer-modal__thumb span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
}

.footer-modal__thumb span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.footer-modal__content {
  position: relative;
  z-index: 10;
}

.footer-modal__name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 25px;
  line-height: 1.33;
  color: $color-text;
}

.footer-modal__role {
  font-family: 'Roboto';
  line-height: 1.17;
  color: $color-text;
}

.team__link-linkedin {
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 10%;
  margin-right: 10px;
  background-color: transparent;
  fill: $color-text;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &--active:hover,
  &--active:focus {
    fill: $color-text-focus;
  }
}

.team__link-github {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  fill: $color-text;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &--active:hover,
  &--active:focus {
    fill: $color-text-focus;
  }
}
