#scroll-up-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 10%;
  &:hover,
  &:focus {
    background-color: #f87719;
  }
}

.up-button__icon {
  position: relative;
  top: 0px;
  left: 0;
}
