.library-cards {
    background-color: var(--bg-primary);
    padding-top: 16px;
    padding-bottom: 16px;
  
    @include tablet {
      padding-top: 52px;
      padding-bottom: 60px;
    }
  
    @include desktop {
      padding-top: 80px;
      padding-bottom: 100px;
    }
  }
  