.hero {
  position: relative;
  overflow: hidden;
  height: 380px;
  width: 100%;
  background-color: var(--bg-hero);

  margin-left: auto;
  margin-right: auto;

  @include tablet {
    height: 432px;
    /* max-width: 768px; */

    // background-position: 0px 0px, 225px 0px;
    // background-size: auto, contain;
  }
  @include desktop {
    height: 660px;
    /* max-width: 1280px; */

    // background-size: auto, cover;
    // background-repeat: no-repeat;
    // background-position: 0px -60px, 225px -60px;
  }
  &__background {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    padding: 0;
    @media screen and(max-width: 767px) {
      width: 100% !important;
    }
  }

  &__background-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__decorator {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #0E0E0E, transparent);
    background: linear-gradient(87.8deg, #0e0e0e 15.61%, #0e0e0e00 60.39%);
    @include tablet {
      background: var(--bg-image-hero-tablet);
      background-position-x: 30px;
    }
    @include desktop {
      background: var(--bg-image-hero-desktop);
      background-position-y: bottom;
      background-position-x: right;
    }
  }

  &__movie-poster {
    z-index: -1;
    height: 100%;
    width: 100%;
    margin-left: auto;
    /* border: 5px solid greenyellow; */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    @include tablet {
      width: 482px;
      background-position-y: top;
      background-position-x: 30px;
    }
    @include desktop {
      width: 802px;
      background-position-y: top;
      background-position-x: center;
    }
  }

  &__info {
    width: 250px;
    @include tablet {
      width: 300px;
    }
    @include desktop {
      width: 464px;
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  /* width: 250px; */
  height: 100%;
  // padding-top: 40px;

  @include tablet {
    /* width: 300px; */
    padding-top: 0px;
    justify-content: center;
  }
  @include desktop {
    /* width: 464px; */
  }
}

.hero__container {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  // height: 100%;

  // position: absolute;
  top: 0;
  left: 0;
  // padding: 20px 40px;
  width: 100%;
  height: 380px;
  // height: 100%;
  /* background-image: linear-gradient(
    87.8deg,
    #0e0e0e 15.61%,
    rgba(14, 14, 14, 0) 60.39%
  ); */

  @include tablet {
    height: 432px;
    // padding: 25px 36px;
    /* background-image: var(--bg-image-hero-tablet);
    background-position: bottom; */
  }

  @include desktop {
    height: 660px;
    // padding: 118px 134px;
    /* background-image: var(--bg-image-hero-desktop); */
  }

  /* &.light {
    @media screen and (min-width: 768px) {
      background-image: url('/src/images/hero-white-tab.png');
    }

    @media screen and (min-width: 1280px) {
      background-image: url('/src/images/hero-white-desk.png');
    }
  } */

  // @include desktop {
  //   padding-left: 32px;
  //   padding-right: 32px;
  //   width: 1280px;
  // }
}

.bg-image {
  // position: relative;
  // background-size: 380px;
  background-size: auto 100%;

  background-repeat: no-repeat;

  background-image: linear-gradient(
      87.8deg,
      #0e0e0e 15.61%,
      rgba(14, 14, 14, 0) 60.39%
    ),
    url('/src/images/hero-black-tel.png');

  // @include retina {
  //   background-image: linear-gradient(
  //       87.8deg,
  //       #0e0e0e 15.61%,
  //       rgba(14, 14, 14, 0) 60.39%
  //     ),
  //     url(../images/hero_mob_2x.jpg);
  // }

  // @include mobile {
  //   background-image: linear-gradient(
  //       87.8deg,
  //       #0e0e0e 15.61%,
  //       rgba(14, 14, 14, 0) 20.39%
  //     ),
  //     url(../images/hero_mob.jpg);

  //   @include retina {
  //     background-image: linear-gradient(
  //         87.8deg,
  //         #0e0e0e 15.61%,
  //         rgba(14, 14, 14, 0) 20.39%
  //       ),
  //       url(../images/hero_mob_2x.jpg);
  //   }
  // }

  @include tablet {
    background-size: 768px;
    background-position-x: 286px;
    background-image: linear-gradient(
        87.8deg,
        #0e0e0e 15.61%,
        rgba(14, 14, 14, 0) 60.39%
      ),
      url('/src/images/hero-black-tab.png');

    // @include retina {
    //   background-image: linear-gradient(
    //       87.8deg,
    //       #0e0e0e 15.61%,
    //       rgba(14, 14, 14, 0) 60.39%
    //     ),
    //     url('/src/images/');
    // }
  }

  @include desktop {
    background-size: 1280px;
    background-position-x: 325px;
    background-image: linear-gradient(
        87.8deg,
        #0e0e0e 15.61%,
        rgba(14, 14, 14, 0) 60.39%
      ),
      url('/src/images//hero-black-desk.png');

    // @include retina {
    //   background-image: linear-gradient(
    //       87.8deg,
    //       #0e0e0e 15.61%,
    //       rgba(14, 14, 14, 0) 60.39%
    //     ),
    //     url(../images/hero_2x.jpg);
    // }
  }
}

// .bg-image {
//   position: relative;

//   background-position: 0px 0px, -100px 0px;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   margin: 0 auto;
//   text-align: center;
//   z-index: 0;
//   width: 100%;
//   // background-repeat: no-repeat;
//   // background-size: auto, cover;

//   @include tablet {
//     height: 432px;
//     width: 768px;

//     background-position: 0px;
//     background-size: auto, contain;
//   }
//   @include desktop {
//     height: 660px;
//     width: 1280px;

//     background-size: auto, cover;
//     background-repeat: no-repeat;
//     background-position: 270px -60px, 0px 0px;
//   }
// }

.hero__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: start;

  color: white;

  @include tablet {
    font-size: 44px;
    line-height: 52px;
    // max-width: 250px;
  }
  @include desktop {
    max-height: 500px;
    font-size: 64px;
    line-height: 75px;
    // max-width: 464px;
  }
}

.light .hero__title,
.light .hero__text {
  color: white;

  @include tablet {
    color: black;
  }
}

.hero__text {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: start;

  margin-top: 8px;
  width: 166px;

  color: white;

  @include tablet {
    font-size: 14px;
    line-height: 16px;

    width: 100%;
  }
  @include desktop {
    // width: 367px;
    font-size: 16px;
    line-height: 19px;

    margin-top: 16px;
  }
}

.hero__movie-descripton {
  display: block;
  width: 100%;
  margin-top: 16px;

  max-height: 80px;

  overflow: hidden;

  @include tablet {
    max-height: 80px;
    max-width: 254px;
  }

  @include desktop {
    max-height: none;
    margin-top: 28px;
    max-width: 457px;
  }
}

.paragraph__hidden {
  display: none;

  @include tablet {
    display: inline;
  }
}

.hero__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 24px;
  gap: 10px;
  margin-top: 20px;
  white-space: nowrap;

  width: 117px;
  height: 38px;

  font-family: 'Roboto';
  font-style: normal;
  @include font-title($fs: 12, $ls: 0);

  background: 
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) padding-box,
        linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
  border-radius: 74px;
  border: 1px solid transparent;
  &:hover,
  &:focus {
    background: 
    linear-gradient($color-primary-light 0 0) padding-box,
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
    color: $color-accent;
    /* border: 1px solid; */
  }

  @include tablet {
    @include font-title($fs: 14, $lh: 1.14, $ls: 0);
    width: 128px;
    height: 40px;
  }
  @include desktop {
    width: 139px;
    height: 48px;
  }
}

.hero__btn {
  cursor: pointer;
  border-radius: 74px;
  font-family: 'Roboto';
  

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #111111;

  min-width: 117px;
  height: 38px;
  margin-top: 16px;
  padding: 12px 24px;

  background: 
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) padding-box,
        linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;

  transition-property: background, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  //   transition: color, background, 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    min-width: 128px;
    height: 40px;
    margin-top: 32px;
    font-size: 14px;
    line-height: 16px;
  }
  @include desktop {
    min-width: 140px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  &:hover,
  &:focus {
    border-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    color: #f87719;
    background: white;
  }
}

.hero__vote {
  display: flex;
  align-items: center;
  margin-top: 12px;
  @include desktop {
    margin-top: 16px;
  }
}

// .bg-image {
// background-repeat: no-repeat;
// background-position: center;
// background-size: cover;
// margin: 0 auto;
// text-align: center;
// z-index: 0;
// width: 100%;
// }

