// .hero-library__container
.hero-library {
  padding-top: 40px;
  padding-bottom: 114px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
      83.48deg,
      #0e0e0e 25.78%,
      rgba(14, 14, 14, 0) 60.07%
    ),
    url(/src/images/hero-tel.jpg);
  border: 1px solid #000000;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100vw;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-library {
      background-image: url(/src/images/hero-tel-2x.jpg);
    }
  }

  @include tablet {
    background: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(/src/images/hero-tab.jpg);
    border: 1px solid #000000;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-library {
      background-image: url(/src/images/hero-tab-2x.jpg);
    }
  }

  @include desktop {
    background: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(/src/images/hero.jpg);
    border: 1px solid #000000;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-library {
      background-image: url(/src/images/hero-2x.jpg);
    }
  }
}

.hero-library__title {
  @include font-title($fw: 700, $fs: 32, $lh: 1.19);
  font-family: 'Roboto';
  margin-bottom: 8px;
  padding-left: 20px;
  padding-right: 65px;

  color: $color-text;

  display: flex;
  align-items: center;

  @include tablet {
    @include font-title($fs: 44, $lh: 1.18);
    padding-left: 32px;
  }

  @include desktop {
    @include font-title($fs: 64, $lh: 1.18);
    padding-left: 117px;
    margin-bottom: 16px;
  }
}

.hero-library__text {
  @include font-text($fs: 14, $lh: 1.14);
  font-family: 'Roboto';
  padding-left: 20px;
  padding-right: 51px;

  color: $color-text-primary;

  @include tablet {
    padding-left: 32px;
    width: 450px;
  }

  @include desktop {
    @include font-text($fs: 16, $lh: 1.18);
    width: 650px;
    padding-left: 117px;
  }
}

.library-cards__sorry {
  @include font-text($fs: 20, $lh: 1.4);
  // text color for night theme:
  // color: $color-text;

  // text color for white theme :
  //  color: $color-bg-header;

  text-align: center;
  padding-left: 21px;
  padding-right: 19px;
  margin-top: 44px;
  margin-bottom: 20px;

  @include tablet {
    @include font-text($fs: 24, $lh: 1.3);
    margin-top: 80px;
    margin-bottom: 24px;
    padding-left: 165px;
    padding-right: 165px;
    margin-bottom: 24px;
  }

  @include desktop {
    @include font-text($fs: 32, $lh: 1.12);
    margin-bottom: 28px;
    margin-top: 160px;
  }
}

.library-cards__btn {
  @include font-text($fw: 500, $fs: 12, $lh: 1.16);

  padding: 12px 24px;
  border-radius: 74px;
  font-size: 12px;
  line-height: 1.33;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  color: $color-bg-header;
  border: 1px solid $color-text-focus;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;

  @include tablet {
    @include font-text($fs: 14, $lh: 1.14);
    margin-bottom: 60px;
  }

  @include desktop {
    margin-bottom: 108px;
    @include font-text($fs: 18, $lh: 1.5);
  }
}

.library-cards__btn:hover {
  background-color: $color-text-primary;
  border: 1px solid $color-text-focus;
  color: $color-bg-header;
}
